.IdeaTile {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  color: #fff;

  @media (max-width: 600px) {
    flex-direction: column;
    align-items: center;
  }

  &--item {
    flex: 1 1 33%;
    margin: 10px;
    max-width: 47%;
    min-height: 200px;

    @media (max-width: 600px) {
      max-width: 100%;
    }
  }

  &--alert {
    min-width: 100%;
  }

  &--update {
    display: flex;
    flex-direction: column;
  }
}

.IdeaTile:last-of-type {
  justify-content: start;
}
